.md .octicon {
	display: inline-block;
	fill: currentColor;
	vertical-align: text-bottom;
  }
  
  .md .anchor {
	float: left;
	line-height: 1;
	margin-left: -20px;
	padding-right: 4px;
  }
  
  .md .anchor:focus {
	outline: none;
  }
  
  .md h1 .octicon-link,
  .md h2 .octicon-link,
  .md h3 .octicon-link,
  .md h4 .octicon-link,
  .md h5 .octicon-link,
  .md h6 .octicon-link {
	color: #1b1f23;
	vertical-align: middle;
	visibility: hidden;
  }
  
  .md h1:hover .anchor,
  .md h2:hover .anchor,
  .md h3:hover .anchor,
  .md h4:hover .anchor,
  .md h5:hover .anchor,
  .md h6:hover .anchor {
	text-decoration: none;
  }
  
  .md h1:hover .anchor .octicon-link,
  .md h2:hover .anchor .octicon-link,
  .md h3:hover .anchor .octicon-link,
  .md h4:hover .anchor .octicon-link,
  .md h5:hover .anchor .octicon-link,
  .md h6:hover .anchor .octicon-link {
	visibility: visible;
  }
  
  .md h1:hover .anchor .octicon-link:before,
  .md h2:hover .anchor .octicon-link:before,
  .md h3:hover .anchor .octicon-link:before,
  .md h4:hover .anchor .octicon-link:before,
  .md h5:hover .anchor .octicon-link:before,
  .md h6:hover .anchor .octicon-link:before {
	width: 16px;
	height: 16px;
	content: ' ';
	display: inline-block;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
  }.md {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.5;
	color: #24292e;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
	font-size: 16px;
	line-height: 1.5;
	word-wrap: break-word;
  }
  
  .md details {
	display: block;
  }
  
  .md summary {
	display: list-item;
  }
  
  .md a {
	background-color: initial;
  }
  
  .md a:active,
  .md a:hover {
	outline-width: 0;
  }
  
  .md strong {
	font-weight: inherit;
	font-weight: bolder;
  }
  
  .md h1 {
	font-size: 2em;
	margin: .67em 0;
  }
  
  .md img {
	border-style: none;
  }
  
  .md code,
  .md kbd,
  .md pre {
	font-family: monospace,monospace;
	font-size: 1em;
  }
  
  .md hr {
	box-sizing: initial;
	height: 0;
	overflow: visible;
  }
  
  .md input {
	font: inherit;
	margin: 0;
  }
  
  .md input {
	overflow: visible;
  }
  
  .md [type=checkbox] {
	box-sizing: border-box;
	padding: 0;
  }
  
  .md * {
	box-sizing: border-box;
  }
  
  .md input {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
  }
  
  .md a {
	color: #0366d6;
	text-decoration: none;
  }
  
  .md a:hover {
	text-decoration: underline;
  }
  
  .md strong {
	font-weight: 600;
  }
  
  .md hr {
	height: 0;
	margin: 15px 0;
	overflow: hidden;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #dfe2e5;
  }
  
  .md hr:after,
  .md hr:before {
	display: table;
	content: "";
  }
  
  .md hr:after {
	clear: both;
  }
  
  .md table {
	border-spacing: 0;
	border-collapse: collapse;
  }
  
  .md td,
  .md th {
	padding: 0;
  }
  
  .md details summary {
	cursor: pointer;
  }
  
  .md kbd {
	display: inline-block;
	padding: 3px 5px;
	font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
	line-height: 10px;
	color: #444d56;
	vertical-align: middle;
	background-color: #fafbfc;
	border: 1px solid #d1d5da;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #d1d5da;
  }
  
  .md h1,
  .md h2,
  .md h3,
  .md h4,
  .md h5,
  .md h6 {
	margin-top: 0;
	margin-bottom: 0;
  }
  
  .md h1 {
	font-size: 32px;
  }
  
  .md h1,
  .md h2 {
	font-weight: 600;
  }
  
  .md h2 {
	font-size: 24px;
  }
  
  .md h3 {
	font-size: 20px;
  }
  
  .md h3,
  .md h4 {
	font-weight: 600;
  }
  
  .md h4 {
	font-size: 16px;
  }
  
  .md h5 {
	font-size: 14px;
  }
  
  .md h5,
  .md h6 {
	font-weight: 600;
  }
  
  .md h6 {
	font-size: 12px;
  }
  
  .md p {
	margin-top: 0;
	margin-bottom: 10px;
  }
  
  .md blockquote {
	margin: 0;
  }
  
  .md ol,
  .md ul {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
  }
  
  .md ol ol,
  .md ul ol {
	list-style-type: lower-roman;
  }
  
  .md ol ol ol,
  .md ol ul ol,
  .md ul ol ol,
  .md ul ul ol {
	list-style-type: lower-alpha;
  }
  
  .md dd {
	margin-left: 0;
  }
  
  .md code,
  .md pre {
	font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
	font-size: 12px;
  }
  
  .md pre {
	margin-top: 0;
	margin-bottom: 0;
  }
  
  .md input::-webkit-inner-spin-button,
  .md input::-webkit-outer-spin-button {
	margin: 0;
	-webkit-appearance: none;
	appearance: none;
  }
  
  .md :checked+.radio-label {
	position: relative;
	z-index: 1;
	border-color: #0366d6;
  }
  
  .md .border {
	border: 1px solid #e1e4e8!important;
  }
  
  .md .border-0 {
	border: 0!important;
  }
  
  .md .border-bottom {
	border-bottom: 1px solid #e1e4e8!important;
  }
  
  .md .rounded-1 {
	border-radius: 3px!important;
  }
  
  .md .bg-white {
	background-color: #fff!important;
  }
  
  .md .bg-gray-light {
	background-color: #fafbfc!important;
  }
  
  .md .text-gray-light {
	color: #6a737d!important;
  }
  
  .md .mb-0 {
	margin-bottom: 0!important;
  }
  
  .md .my-2 {
	margin-top: 8px!important;
	margin-bottom: 8px!important;
  }
  
  .md .pl-0 {
	padding-left: 0!important;
  }
  
  .md .py-0 {
	padding-top: 0!important;
	padding-bottom: 0!important;
  }
  
  .md .pl-1 {
	padding-left: 4px!important;
  }
  
  .md .pl-2 {
	padding-left: 8px!important;
  }
  
  .md .py-2 {
	padding-top: 8px!important;
	padding-bottom: 8px!important;
  }
  
  .md .pl-3,
  .md .px-3 {
	padding-left: 16px!important;
  }
  
  .md .px-3 {
	padding-right: 16px!important;
  }
  
  .md .pl-4 {
	padding-left: 24px!important;
  }
  
  .md .pl-5 {
	padding-left: 32px!important;
  }
  
  .md .pl-6 {
	padding-left: 40px!important;
  }
  
  .md .f6 {
	font-size: 12px!important;
  }
  
  .md .lh-condensed {
	line-height: 1.25!important;
  }
  
  .md .text-bold {
	font-weight: 600!important;
  }
  
  .md .pl-c {
	color: #6a737d;
  }
  
  .md .pl-c1,
  .md .pl-s .pl-v {
	color: #005cc5;
  }
  
  .md .pl-e,
  .md .pl-en {
	color: #6f42c1;
  }
  
  .md .pl-s .pl-s1,
  .md .pl-smi {
	color: #24292e;
  }
  
  .md .pl-ent {
	color: #22863a;
  }
  
  .md .pl-k {
	color: #d73a49;
  }
  
  .md .pl-pds,
  .md .pl-s,
  .md .pl-s .pl-pse .pl-s1,
  .md .pl-sr,
  .md .pl-sr .pl-cce,
  .md .pl-sr .pl-sra,
  .md .pl-sr .pl-sre {
	color: #032f62;
  }
  
  .md .pl-smw,
  .md .pl-v {
	color: #e36209;
  }
  
  .md .pl-bu {
	color: #b31d28;
  }
  
  .md .pl-ii {
	color: #fafbfc;
	background-color: #b31d28;
  }
  
  .md .pl-c2 {
	color: #fafbfc;
	background-color: #d73a49;
  }
  
  .md .pl-c2:before {
	content: "^M";
  }
  
  .md .pl-sr .pl-cce {
	font-weight: 700;
	color: #22863a;
  }
  
  .md .pl-ml {
	color: #735c0f;
  }
  
  .md .pl-mh,
  .md .pl-mh .pl-en,
  .md .pl-ms {
	font-weight: 700;
	color: #005cc5;
  }
  
  .md .pl-mi {
	font-style: italic;
	color: #24292e;
  }
  
  .md .pl-mb {
	font-weight: 700;
	color: #24292e;
  }
  
  .md .pl-md {
	color: #b31d28;
	background-color: #ffeef0;
  }
  
  .md .pl-mi1 {
	color: #22863a;
	background-color: #f0fff4;
  }
  
  .md .pl-mc {
	color: #e36209;
	background-color: #ffebda;
  }
  
  .md .pl-mi2 {
	color: #f6f8fa;
	background-color: #005cc5;
  }
  
  .md .pl-mdr {
	font-weight: 700;
	color: #6f42c1;
  }
  
  .md .pl-ba {
	color: #586069;
  }
  
  .md .pl-sg {
	color: #959da5;
  }
  
  .md .pl-corl {
	text-decoration: underline;
	color: #032f62;
  }
  
  .md .mb-0 {
	margin-bottom: 0!important;
  }
  
  .md .my-2 {
	margin-bottom: 8px!important;
  }
  
  .md .my-2 {
	margin-top: 8px!important;
  }
  
  .md .pl-0 {
	padding-left: 0!important;
  }
  
  .md .py-0 {
	padding-top: 0!important;
	padding-bottom: 0!important;
  }
  
  .md .pl-1 {
	padding-left: 4px!important;
  }
  
  .md .pl-2 {
	padding-left: 8px!important;
  }
  
  .md .py-2 {
	padding-top: 8px!important;
	padding-bottom: 8px!important;
  }
  
  .md .pl-3 {
	padding-left: 16px!important;
  }
  
  .md .pl-4 {
	padding-left: 24px!important;
  }
  
  .md .pl-5 {
	padding-left: 32px!important;
  }
  
  .md .pl-6 {
	padding-left: 40px!important;
  }
  
  .md .pl-7 {
	padding-left: 48px!important;
  }
  
  .md .pl-8 {
	padding-left: 64px!important;
  }
  
  .md .pl-9 {
	padding-left: 80px!important;
  }
  
  .md .pl-10 {
	padding-left: 96px!important;
  }
  
  .md .pl-11 {
	padding-left: 112px!important;
  }
  
  .md .pl-12 {
	padding-left: 128px!important;
  }
  
  .md hr {
	border-bottom-color: #eee;
  }
  
  .md kbd {
	display: inline-block;
	padding: 3px 5px;
	font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
	line-height: 10px;
	color: #444d56;
	vertical-align: middle;
	background-color: #fafbfc;
	border: 1px solid #d1d5da;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #d1d5da;
  }
  
  .md:after,
  .md:before {
	display: table;
	content: "";
  }
  
  .md:after {
	clear: both;
  }
  
  .md>:first-child {
	margin-top: 0!important;
  }
  
  .md>:last-child {
	margin-bottom: 0!important;
  }
  
  .md a:not([href]) {
	color: inherit;
	text-decoration: none;
  }
  
  .md blockquote,
  .md details,
  .md dl,
  .md ol,
  .md p,
  .md pre,
  .md table,
  .md ul {
	margin-top: 0;
	margin-bottom: 16px;
  }
  
  .md hr {
	height: .25em;
	padding: 0;
	margin: 24px 0;
	background-color: #e1e4e8;
	border: 0;
  }
  
  .md blockquote {
	padding: 0 1em;
	color: #6a737d;
	border-left: .25em solid #dfe2e5;
  }
  
  .md blockquote>:first-child {
	margin-top: 0;
  }
  
  .md blockquote>:last-child {
	margin-bottom: 0;
  }
  
  .md h1,
  .md h2,
  .md h3,
  .md h4,
  .md h5,
  .md h6 {
	margin-top: 24px;
	margin-bottom: 16px;
	font-weight: 600;
	line-height: 1.25;
  }
  
  .md h1 {
	font-size: 2em;
  }
  
  .md h1,
  .md h2 {
	padding-bottom: .3em;
	border-bottom: 1px solid #eaecef;
  }
  
  .md h2 {
	font-size: 1.5em;
  }
  
  .md h3 {
	font-size: 1.25em;
  }
  
  .md h4 {
	font-size: 1em;
  }
  
  .md h5 {
	font-size: .875em;
  }
  
  .md h6 {
	font-size: .85em;
	color: #6a737d;
  }
  
  .md ol,
  .md ul {
	padding-left: 2em;
  }
  
  .md ol ol,
  .md ol ul,
  .md ul ol,
  .md ul ul {
	margin-top: 0;
	margin-bottom: 0;
  }
  
  .md li {
	word-wrap: break-all;
  }
  
  .md li>p {
	margin-top: 16px;
  }
  
  .md li+li {
	margin-top: .25em;
  }
  
  .md dl {
	padding: 0;
  }
  
  .md dl dt {
	padding: 0;
	margin-top: 16px;
	font-size: 1em;
	font-style: italic;
	font-weight: 600;
  }
  
  .md dl dd {
	padding: 0 16px;
	margin-bottom: 16px;
  }
  
  .md table {
	display: block;
	width: 100%;
	overflow: auto;
  }
  
  .md table th {
	font-weight: 600;
  }
  
  .md table td,
  .md table th {
	padding: 6px 13px;
	border: 1px solid #dfe2e5;
  }
  
  .md table tr {
	background-color: #fff;
	border-top: 1px solid #c6cbd1;
  }
  
  .md table tr:nth-child(2n) {
	background-color: #f6f8fa;
  }
  
  .md img {
	max-width: 100%;
	box-sizing: initial;
	background-color: #fff;
  }
  
  .md img[align=right] {
	padding-left: 20px;
  }
  
  .md img[align=left] {
	padding-right: 20px;
  }
  
  .md code {
	padding: .2em .4em;
	margin: 0;
	font-size: 85%;
	background-color: rgba(27,31,35,.05);
	border-radius: 3px;
  }
  
  .md pre {
	word-wrap: normal;
  }
  
  .md pre>code {
	padding: 0;
	margin: 0;
	font-size: 100%;
	word-break: normal;
	white-space: pre;
	background: transparent;
	border: 0;
  }
  
  .md .highlight {
	margin-bottom: 16px;
  }
  
  .md .highlight pre {
	margin-bottom: 0;
	word-break: normal;
  }
  
  .md .highlight pre,
  .md pre {
	padding: 16px;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	background-color: #f6f8fa;
	border-radius: 3px;
  }
  
  .md pre code {
	display: inline;
	max-width: auto;
	padding: 0;
	margin: 0;
	overflow: visible;
	line-height: inherit;
	word-wrap: normal;
	background-color: initial;
	border: 0;
  }
  
  .md .commit-tease-sha {
	display: inline-block;
	font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
	font-size: 90%;
	color: #444d56;
  }
  
  .md .full-commit .btn-outline:not(:disabled):hover {
	color: #005cc5;
	border-color: #005cc5;
  }
  
  .md .blob-wrapper {
	overflow-x: auto;
	overflow-y: hidden;
  }
  
  .md .blob-wrapper-embedded {
	max-height: 240px;
	overflow-y: auto;
  }
  
  .md .blob-num {
	width: 1%;
	min-width: 50px;
	padding-right: 10px;
	padding-left: 10px;
	font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
	font-size: 12px;
	line-height: 20px;
	color: rgba(27,31,35,.3);
	text-align: right;
	white-space: nowrap;
	vertical-align: top;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  .md .blob-num:hover {
	color: rgba(27,31,35,.6);
  }
  
  .md .blob-num:before {
	content: attr(data-line-number);
  }
  
  .md .blob-code {
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 20px;
	vertical-align: top;
  }
  
  .md .blob-code-inner {
	overflow: visible;
	font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
	font-size: 12px;
	color: #24292e;
	word-wrap: normal;
	white-space: pre;
  }
  
  .md .pl-token.active,
  .md .pl-token:hover {
	cursor: pointer;
	background: #ffea7f;
  }
  
  .md .tab-size[data-tab-size="1"] {
	-moz-tab-size: 1;
	tab-size: 1;
  }
  
  .md .tab-size[data-tab-size="2"] {
	-moz-tab-size: 2;
	tab-size: 2;
  }
  
  .md .tab-size[data-tab-size="3"] {
	-moz-tab-size: 3;
	tab-size: 3;
  }
  
  .md .tab-size[data-tab-size="4"] {
	-moz-tab-size: 4;
	tab-size: 4;
  }
  
  .md .tab-size[data-tab-size="5"] {
	-moz-tab-size: 5;
	tab-size: 5;
  }
  
  .md .tab-size[data-tab-size="6"] {
	-moz-tab-size: 6;
	tab-size: 6;
  }
  
  .md .tab-size[data-tab-size="7"] {
	-moz-tab-size: 7;
	tab-size: 7;
  }
  
  .md .tab-size[data-tab-size="8"] {
	-moz-tab-size: 8;
	tab-size: 8;
  }
  
  .md .tab-size[data-tab-size="9"] {
	-moz-tab-size: 9;
	tab-size: 9;
  }
  
  .md .tab-size[data-tab-size="10"] {
	-moz-tab-size: 10;
	tab-size: 10;
  }
  
  .md .tab-size[data-tab-size="11"] {
	-moz-tab-size: 11;
	tab-size: 11;
  }
  
  .md .tab-size[data-tab-size="12"] {
	-moz-tab-size: 12;
	tab-size: 12;
  }
  
  .md .task-list-item {
	list-style-type: none;
  }
  
  .md .task-list-item+.task-list-item {
	margin-top: 3px;
  }
  
  .md .task-list-item input {
	margin: 0 .2em .25em -1.6em;
	vertical-align: middle;
  }
